@font-face {
  font-family: "Montserrat";
  src: url("../Fontes/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: rgb(8, 12, 12);
}

.tudo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  text-align: center;
  font-family: "Montserrat";
  color: rgb(8, 252, 212);
  font-size: 32px;
}

.texto {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text {
  text-align: justify;
  font-family: "Montserrat";
  color: black;
  font-size: 32px;
}

span {
  color: rgb(8, 252, 212)
}

.btn {
  margin-top: 100px;
  text-align: center;
}

button {
  font-family: "Montserrat";
  font-size: 32px;
  background-color: black;
  padding: 10px 30px;
  color: rgb(8, 252, 212);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(29, 29, 29);
}

img {
  width: 300px;
}